

.myheader {
  background-color: #6de38c;
  padding: 5pt;
  margin: 0pt -15pt 10pt -15px;
}

.myheader h2 {
  font-weight: bold;
  font-size: 30pt;
  text-align:center;
}

.holdertest {
  color:#b3f2c4 #BDF5BD #d2f7dc;
}
.container-fluid {
  background-color: white;
}

.inline input {
  display: inline-block;
  align-items: center;
  margin: 5pt;
}

.inline label {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  margin-right: 5pt;
  font-weight: 400;
}

.inline .form-group { 
  display: table-row;
  
}

.duration_slider {
  margin: 0pt;
  height: 60px;
}